<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<title>Update</title>
</head>
<body>
    <div class="panel">
        <ul>
            <li><a class="active" href="/logout">Logout</a></li>
            <li><a class="" href="/todo">Cancel</a></li>
        </ul>
    </div>
    <div class="content">
	<form action="/update/{{task.id}}" method="POST">
        <table class="table-form">
            <tr class="table-form" style="border: 0">
              <th style="border: 0"><label for="content">Task</label></th>
              <th><label for="deadline">Deadline</label></th>
              <th><label for="pic">Pic</label></th>
            </tr>
            <tr class="table-form" style="border: 0">
              <td><input type="text" name="content" id="content" value="{{task.content}}"></td>
              <td><input type="text" name="deadline" id="dealine" value="{{task.deadline}}"></td>
              <td><input type="text" name="pic" id="pic" value="{{task.pic}}"></td>
            </tr>
          </table>
		<button type="submit" value="Update Task">Update Task</button>
	</form>
</div>
</body>