body {
	margin: 0;
	font-family: verdana;
	background-color: white;
	text-align:center;
}
div {
    padding-left: 30px;
    padding-right: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  th {
      background-color: rgb(42, 190, 133);
      text-align: center;
      padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
    height: 100%;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }